<li>
  <%= render :partial => 'users/avatar', :locals => {:user => bubble.user } %>
  <h4><%= link_to bubble.user.name %></h4>
  <div class="postcontent">
	<p><%= bubble.text %></p>
  </div>
  <div class="postmeta">
    <p>Posted <%= time_ago_in_words bubble.created_at %> ago</p>
  </div>
  <div class="bottom-of-post">&nbsp;</div>
</li>
